<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="spring.profiles.active" source="spring.profiles.active"/>

    <property name="LOG_PATH" value="./logs" />
    <property name="LOG_FILE" value="springai.log" />

    <!-- Line below is default console logger -->
    <!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %white(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %cyan(%C{1}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <!-- Rolling File Appender (Logs to file and rotates daily) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/springai-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- Keep logs for 7 days -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>